*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
}

.nav
{
    background-color: #212529;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.nav h1
{
    cursor: pointer;
    color: white;
}

.nav h1 a
{
    font-size: 20px;
}

.nav a
{
    text-decoration: none;
    margin-right: 10px;  
    font-size: 15px;  
    color: white;

}

.start-scrolling
{
    height: 350px;
    background-color: #247CFD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-scrolling h1
{
    font-size: 35px;
    margin-bottom: 15px;
}

.start-scrolling a
{
    padding: 15px 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-top: 15px;
}

.start-scrolling a:hover
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 10px 30px, rgba(0, 0, 0, 0.12) 0px 10px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.12) 0px -3px 5px;
    transition: 0.5s ease;
}

.main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content
{
    margin-bottom: 150px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px;
}

.content:first-child
{
    margin-top: 100px;
}

.content a
{
    text-decoration: none;
    color: black;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 300;
}

.content p
{
    font-size: 1.25rem;
    font-weight: 300;
}

.active
{
    background-color: #F8F9FA;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: white;
    height: 120px;
}

